<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 3 Flask App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

	<h2>Choropleth Plot of North Carolina Counties</h2>
  
	<!--- The bootstrap .well class adds a rounded border around an element 
	with a gray background color and some padding --->
	
    <div class="well">
		<h3>SELECT Data Type:</h3>
		<select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>
	
	<div class="container">
		<div class="row" id="QuantityTitle">
			<h2><center><strong>Title</strong></center></h2>
			<hr>
			
		</div>
		<div class="row">
			<div class="col-md-12">
			<div id="state_chart" style="height: 400px;">	
			</div>			
			</div>
		</div>
		
		<div class="row">
			<div class = "pb-4 pt-4">
				<hr>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
		
			<div class="col-md-9">
			<div id="bar_chart_house">
			<div id="bar_chart" style="height: 400px;">
			</div>
			</div>
			</div>
			
			<div class="col-md-3">
			
			
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title" id="quantity-Text"></h3>
					</div>
					<div id="dataset_info" class="panel-body"></div>
					</div>
				</div>
			</div>
			


		</div>
		
		<div class="row">
			<hr>
		</div>

	</div>
	
	

  
	<script src="https://d3js.org/d3.v5.min.js"></script>  
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
	
	<!-- Leaflet JavaScript -->
	<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
	
	<script src="{{ url_for('static', filename='js/config.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	

</body>

</html>
